<h2>
    Legg til nytt arrangement i
    {{ fylke.getNavn() }}
</h2>

<style>
    h4 {
        margin-bottom: -.5em;
        margin-top: 2em;
    }

    #formContainer .card .dashicons {
        font-size: 3em;
        text-align: center;
        float: right;
        color: #ccc;
        margin-right: -.8em;
    }

    #formContainer .card {
        padding-right: 4.5em;
        cursor: pointer;
    }

    #formContainer .card.selected {
        background: #428bca;
        color: #fff;
        border: 4px solid #0073aa;
    }

    #formContainer .header {
        font-weight: bold;
        font-size: 1.3em;
        margin-bottom: .2em;
    }
</style>

<div style="width: 98%">
    <form action="?page={{ GET('page') }}&action=administrator-doAdd&omrade='~ GET('omrade') ~'&type='~ GET('type') }}" id="formContainer" method="POST">

        <p class="lead">
            Arrangement du legger til blir tilknyttet
            {% if GET('type') == 'fylke' %}fylket{% elseif GET('type') == 'kommune' %}kommunen/bydelen
            {% endif %}.
                        Typisk er dette fylkes-festivalen, eller en av flere fylkesfestivaler.
            <br/>
            Etter hvert vil det også bli mulig å legge til workshops og andre arrangementer her.
        </p>

        <h4>Hvilken type arrangement vil du opprette?</h4>
        <div class="row">
            <div class="col-xs-6 col-sm-4 col-lg-3">
                <div class="card selected">
                    <div class="dashicons dashicons-buddicons-groups"></div>
                    <div class="header">Mønstring</div>
                    <p>
                        Den vanligste arrangementsformen.
                        Åpner automatisk for innslag i kategorien scene, utstilling og film, 
                        mens de øvrige deltakergrenene er valgfri.
                    </p>
                </div>
            </div>

            <div class="col-xs-6 col-sm-4 col-lg-3">
                <div class="card">
                    <div class="dashicons dashicons-tickets"></div>
                    <div class="header">Arrangement</div>
                    <p>
                        <span class="label label-info">Kommer snart</span>
                        Hvis du skal ha foredrag, workshop, meet-up, eller noe annet,
                        kan kan du her lage et arrangement som vises på lokalsiden.
                    </p>
                </div>
            </div>
        </div>

        <h4>Hvordan skal påmeldingen skje?</h4>
        <div class="row">
            <div class="col-xs-6 col-sm-4 col-lg-3">
                <div class="card">
                    <div class="dashicons dashicons-networking"></div>
                    <div class="header">Videresending</div>
                    <p>
                        Velger du denne er du avhengig av at andre
                        arrangementer sender deltakere til deg, 
                        da det ikke finnes påmeldingsskjema noe sted.
                    </p>
                </div>
            </div>

            <div class="col-xs-6 col-sm-4 col-lg-3">
                <div class="card selected">
                    <div class="dashicons dashicons-unlock"></div>
                    <div class="header">Åpen påmelding</div>
                    <p>
                        Åpner påmeldingen for hvem som helst gjennom
                        vanlig påmeldingsskjema.
                    </p>
                </div>
            </div>

            <div class="col-xs-6 col-sm-4 col-lg-3">
                <div class="card">
                    <div class="dashicons dashicons-lock"></div>
                    <div class="header">Påmelding med krav</div>
                    <p>
                        <span class="label label-info">Kommer snart</span>

                        Her kan du sette noen krav deltakere må oppfylle før de kan melde seg på,
                        for eksempel at de må være påmeldt fylkesfestivalen din.
                    </p>
                </div>
            </div>
        </div>

        <h4>Litt om arrangementet</h4>
        <h4></h4>
        <div class="row" style="margin-top:2em;">
            <div class="col-xs-6 col-sm-4 col-lg-3">
                <div class="form-group">
                    <label>Tittel / navn</label>
                    <input type="text" class="form-control" name="navn" placeholder="Trondheim, Bodø, Åsnes" />
                </div>

                <div class="form-group">
                    <label>Startdato</label>
                    <input type="text" class="form-control" name="dato" placeholder="01.01.{{ "now"|date('Y') }}" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-success">Opprett arrangement</button>
            </div>
        </div>
    </form>
</div>
