<style>
    .mt-1 {
        margin-top: 0.25em;
    }
    .mb-0 {
        margin-bottom: 0;
    }

    .dashicons {
        width: 1em;
        height: 1.2em;
        font-size: 1.4em;
        line-height: 1.3em;
    }
</style>
{% include "wp_modul.flashbag.html.twig" %}

<div class="container-fluid">
    <h2>Velg område</h2>
    <div class="row">
        {% for omrade in omrader %}
            <div class="col-xs-6 col-sm-3 col-lg-3">
                <div class="card" style="text-align: center;">
                    <a href="?page={{GET('page')}}&omrade={{omrade.getForeignId()}}&type={{omrade.getType()}}">
                        <div style="font-size: 3em; text-align: center;">
                            <span class="dashicons dashicons-location"></span>
                        </div>
                        <b style="text-transform: uppercase; font-size: 2em; font-weight: bold;">
                            {{ omrade.getNavn() }}
                        </b>
                        </a>
                </div>
            </div>
        {% else %}
            <div class="col-xs-12">
                <p class="lead">
                    Fant ingen områder du er administrator for.
                    {% if GET('page') == 'UKMnettverket_kommune' %}
                        Hvis du er fylke-administrator, må du velge ditt fylke i menyen først, og redigere kommunene dine derfra.
                    {% endif %}
                </p>

            </div>
        {% endfor %}
    </div>
</div>
